* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
   }
    html {
        box-sizing: border-box;
    }

    /*----------------- HEADER ----------------*/


    header {
        display: block;
        margin: 0 auto;
       }    



/*--------------------- MOBILE & TABLET--------------------*/
@media (min-width: 50px) and (max-width: 1080px) { 

    .navbar {

    background-color: rgb(57, 57, 61);

    }

    .imagen-fondo {
        width: 100%;
        height: 720px;
        position: relative;
        display: flex;
        justify-content: end;
        align-items: end;
        background-image: url(img/ba1.jpg);
       
        overflow: hidden;
  
    }

    
    .imagen-fondo::before {
        content: " ";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(0,0,0,0.6);

    }

    .fondo {
        display: block;
        text-align: right;
        padding: 30px;
        width: 100%;
        height: 500px;
        color: #FFFFFF;
        opacity: 1;
        position: relative;
    }

    .fondo h1, p {
        
        margin-left: 10px;
    }
    .fondo p {

        font-size: 20px;
    }

    .botones {

        display: flex;
        justify-content: end;
        
        
        
    }
    .botones a {
        text-decoration: none;
        
    }

    #boton1 {
        
        text-align: center;
        border: 1px solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        width: 150px;
        
    }

    #boton2 {
        text-align: center;
       
        border-radius: 10px;
        background-color: green;
        color: white;
        width: 150px;
        margin-left: 10px;
    }


   

  .oradores {

    display: block;
    margin: 0 auto;
    
    

}

.card {
    width: 92%;
    margin: 20px;

}

.card-img-top {

    display: block;
    margin: 0 auto;
}

.etiqueta {

    margin-left: 30px;
    margin-top: 30px;
} 

.nombres {
    margin-left: 30px;
    margin-bottom: 5px;
}

.otro-div {
    display: block;
    width: 100%;
    height: 400px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 30px;
    background-color: rgb(31, 31, 48);
    color: #FFFFFF;

  }

.otro-div a {

    text-decoration: none;
}

/*  FORMULARIO */

.forma {
    width: 98%;

}

.formulario {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;


}

.reg {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {

    width: 100%;
    height: 100px;

}




  /*--- Tipo de Compra ---*/


.comprarTicket {

    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;

}

.estudiante {
    padding: 20px;
    width: 98%;
    margin: 5px;
    border-color: blue;
    border-style: solid;


}
.trainne {
    padding: 20px;
    width: 98%;
    margin: 5px;
    border-color: rgb(0, 229, 255);
    border-style: solid;
    
}
.junior {
    padding: 20px;
    width: 98%;
    margin: 5px;
    border-color: rgb(255, 242, 0);
    border-style: solid;
    
}

  /*------ Formulario2 -----*/
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
      #celectro {

        width: 100%;
    }

    .nombres-texto {
       width: 100%;
    }

    .seleccion {

        width: 100%;
        padding: 15px 20px;
        margin: 8px 0;
        box-sizing: border-box;

    }

    .totalaPagar {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        background-color: rgb(153, 207, 255);
        color: rgb(53, 122, 212);

    }
    #resumende {

        align-items: center;
    }

    #button2 {
        background-color: rgb(162, 222, 89);
        color: white;
        border-radius: 5px;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        width: 100%;
      }
      
      .botonR {
        background-color: rgb(162, 222, 89);
        color: white;
        border-radius: 5px;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        width: 100%;
        
      }

      #obligatorio {
        display: none;
        color: red;
        


      }
 
      .venta {
        width: 100%;
        text-align: center;
      }


/*----------------- INSCRIPTION ----------------*/   
.centro {

    padding: 30px;



}
.inscripto-ya {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    padding: 20px;
    border-style: solid;
    border-width: 5px;
    border-radius: 30px;
    color: #004b12;
    border-color: rgb(1, 60, 1);
    background-color: rgb(153, 255, 153);
    width: 100%;
    height: 600px;

    font-size: 4em;



}



/*----------------- FOOTER ----------------*/   
  
  .navbar2 {
    display: block;
    padding: 20px;
    background-color: rgb(2, 52, 85);
    height: 100px;

  }

  .navbar2 a{

    text-decoration: none;
  }
  .ubicacion {
    
    display: block;
   
    

  }

  .imagen-hono {
    width: 100%; 
    height: 250px;


  }

  

  
  #boton3 {
    
    text-align: center;
    border: 1px solid;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    width: 150px;
    
}

.enlaces {

    display:inline-block;
    align-items:start;
    justify-content: flex-start;
   
}

.enlaces a {

    padding-left: 30px;
    padding-right: 30px;
    
}

.diseno {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 750px;

    background-color: rgb(31, 31, 48);
}

.diseno-form {

    display: block;
    padding: 20px;
    background-color: rgb(209, 209, 209);
    width: 85%;
    
    border-radius: 20px;

}

.formula {

    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;

}


.formato2 {

    margin-top: 15px;
    margin-bottom: 15px;
    height: 50px;
    width: 100%;

    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

}

.botonLogin {

    margin-top: 15px;
    margin-bottom: 15px;

    background-color: rgb(162, 222, 89);
    color: white;
    border-radius: 5px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;

}

#error {

    display: none;
    color: red;

}


/*----  TABLA ----*/

.tabla-inscriptos {

    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    
    padding: 10px;
   
    border-style: solid;
    border-width: 2px;

}


.centrar-texto {


    text-align: center;

    padding: 40px;
}





  }





















 /*--------------------- DESKTOP -----------------*/
    @media (min-width: 1081px) {
       
    
    .navbar {

        background-color: rgb(57, 57, 61);

    }

    .collapse {

        display: flex;
        justify-content: end;
        align-items: center;
    }

    .container {

        display: flex;
        justify-content: space-between;
        align-items: center;
        

    }
    
    .container a {
        text-decoration: none;
        padding-left: 20px;
    }

    .imagen-fondo {
        width: 100%;
        height: 720px;
        position: relative;
        display: flex;
        justify-content: end;
        align-items: end;
        background-image: url(img/ba1.jpg);
       
        overflow: hidden;
  
    }

    
    .imagen-fondo::before {
        content: " ";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(0,0,0,0.6);

    }

    .fondo{
        display: block;
        text-align: right;
        margin-right: 200px;
        width: 500px;
        height: 500px;
        color: #FFFFFF;
        opacity: 1;
        
        position: relative;
    }

    .fondo h1, p {
        
        margin-left: 10px;
    }
    .fondo p {

        font-size: 20px;
    }

    .botones {

        display: flex;
        justify-content: space-between;
        
        
    }
    .botones a {
        text-decoration: none;
        
    }

    #boton1 {
        
        text-align: center;
        border: 1px solid;
        border-color: white;
        border-radius: 10px;
        color: white;
        width: 150px;
        margin-left: 200px;
    }

    #boton2 {
        text-align: center;
       
        border-radius: 10px;
        background-color: green;
        color: white;
        width: 150px;
        margin-left: 10px;
    }

    
    
   /*----------------- CUERPO ----------------*/

    .oradores {

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .card {
        width: 18rem;
        margin: 20px;

    }

    .etiqueta {

        margin-left: 30px;
        margin-top: 30px;
    } 
    
    .nombres {
        margin-left: 30px;
        margin-bottom: 5px;
    }

    .otro-div {
        display: block;
        width: 100%;
        height: 400px;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 30px;
        background-color: rgb(31, 31, 48);
        color: #FFFFFF;

      }

    .otro-div a {

        text-decoration: none;
    }

    .se-orador {

        text-align: center;
    }

    /*  FORMULARIO */

    .forma {
        width: 50%;
    
    }

    .formulario {

        display: flex;
        justify-content: center;
        align-items: center;
      
       
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;


    }

    .reg {
        width: 48%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }

    

    textarea {

        width: 97%;
        height: 100px;

    }

    


    .palabras {
        padding-right:450px;
    }

   /* input[type=button]{
        background-color: rgb(162, 222, 89);
        color: white;
        border-radius: 5px;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        width: 97%;
      }
*/
    

      .imagen-hono {
      
        width: 100%;
        height: 400px;
      }

/*--- Tipo de Compra ---*/



.comprarTicket {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.estudiante {
    padding: 20px;
    width: 16%;
    margin: 5px;
    border-color: blue;
    border-style: solid;


}
.trainne {
    padding: 20px;
    width: 16%;
    margin: 5px;
    border-color: rgb(0, 229, 255);
    border-style: solid;
    
}
.junior {
    padding: 20px;
    width: 16%;
    margin: 5px;
    border-color: rgb(255, 242, 0);
    border-style: solid;
    
}

/*------ Formulario2 -----*/
input[type=number] {
    width: 48%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
      #celectro {

        width: 97%;
    }

    .nombres-texto {
       width: 48%;
    }

    .seleccion {

        width: 48%;
        padding: 15px 20px;
        margin: 8px 0;
        box-sizing: border-box;

    }

    .totalaPagar {
        display: flex;
        align-items: center;
        width: 97%;
        padding: 15px;
        border-radius: 10px;
        background-color: rgb(153, 207, 255);
        color: rgb(53, 122, 212);

    }
    #resumende {

        align-items: center;
    }

    #button2 {
        background-color: rgb(162, 222, 89);
        color: white;
        border-radius: 5px;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        width: 48%;
      }

      .botonR {
        background-color: rgb(162, 222, 89);
        color: white;
        border-radius: 5px;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        width: 97%;
        
      }

      #obligatorio {
        display: none;
        color: red;



      }

/*----------------- INSCRIPTION ----------------*/   
    .centro {

        padding: 30px;
<<<<<<< HEAD
        text-align: center;
=======
<<<<<<< HEAD
        text-align: center;
=======
>>>>>>> fbced1760857449d47f68ca31b175dbcea50abe4
>>>>>>> 09e5c9801306345ed0256dfe0a3c2219ba86fe93



    }
    .inscripto-ya {

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        padding: 20px;
        border-style: solid;
        border-width: 5px;
        border-radius: 30px;
        color: #004b12;
        border-color: rgb(1, 60, 1);
        background-color: rgb(153, 255, 153);
        width: 100%;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 09e5c9801306345ed0256dfe0a3c2219ba86fe93
       
        text-decoration: none;
        font-size: 4em;



    }

    .linka {
        
        
        text-decoration: none;
        font-size: 30px;
        text-align: center;
        margin-top: 50px;
        width: 100%;
        margin-top: 25px;
        
<<<<<<< HEAD
=======
=======
        height: 600px;

        font-size: 4em;


>>>>>>> fbced1760857449d47f68ca31b175dbcea50abe4
>>>>>>> 09e5c9801306345ed0256dfe0a3c2219ba86fe93

    }


/*----------------- FOOTER ----------------*/   
      
      .navbar2 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(2, 52, 85);
        height: 100px;

      }

      .navbar2 a{

        text-decoration: none;
      }
      .ubicacion {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%; 
        height: 400px;

      }
     
      

      #boton3 {
        
        text-align: center;
        border: 1px solid;
        border-color: rgb(255, 255, 255);
        border-radius: 10px;
        color: rgb(255, 255, 255);
        width: 150px;
        
    }
    
    

    .enlaces a {

        padding-left: 30px;
        padding-right: 30px;
    }
   
      

      .diseno {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 750px;

        background-color: rgb(31, 31, 48);
    }
    
    .diseno-form {
    
        display: block;
        padding: 20px;
        background-color: rgb(209, 209, 209);
        width: 40%;
        border-radius: 20px;
    
    }
    
    .formula {
    
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
    
    }
    
    
    .formato2 {
    
        margin-top: 15px;
        margin-bottom: 15px;
        height: 50px;
        width: 100%;
<<<<<<< HEAD

        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    
    }
    
    .botonLogin {
    
        margin-top: 15px;
        margin-bottom: 15px;

        background-color: rgb(162, 222, 89);
        color: white;
        border-radius: 5px;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        width: 100%;
    
    }
    
    #error {
    
        display: none;
        color: red;
    
    }
    
    
    /*----  TABLA ----*/

    .tabla-inscriptos {

        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        
        padding: 10px;
       
        border-style: solid;
        border-width: 2px;

=======

<<<<<<< HEAD
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
=======
      .diseno {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 750px;
    }
    
    .diseno-form {
    
        display: block;
        padding: 20px;
        background-color: rgb(209, 209, 209);
        width: 30%;
        border-radius: 20px;
    
    }
    
    .formula {
    
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        
    
    
    }
    
    
    .formato2 {
    
        margin-top: 15px;
        margin-bottom: 15px;
        height: 30px;
        width: 100%;
    
>>>>>>> fbced1760857449d47f68ca31b175dbcea50abe4
    
    }
    
    .botonLogin {
    
        margin-top: 15px;
        margin-bottom: 15px;
<<<<<<< HEAD
=======
        width: 100%;
    
    }
    
    #error {
    
        display: none;
        color: red;
    
    }
    
    
    /*----  TABLA ----*/

    .tabla-inscriptos {

        margin-left: 15px;
        margin-right: 15px;
        padding: 10px;
       
        border-style: solid;
        border-width: 2px;

    }
    

>>>>>>> fbced1760857449d47f68ca31b175dbcea50abe4

        background-color: rgb(162, 222, 89);
        color: white;
        border-radius: 5px;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        width: 100%;
    
    }
    
    #error {
    
        display: none;
        color: red;
    
    }
    
    
    /*----  TABLA ----*/

    .tabla-inscriptos {

        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        
        padding: 10px;
       
        border-style: solid;
        border-width: 2px;

>>>>>>> 09e5c9801306345ed0256dfe0a3c2219ba86fe93
    }
    

    .centrar-texto {
        text-align: center;

        padding: 40px;
    }

    
    
    
    
    



    }
